all_embeddings.pt
/__pycache__
/myenv
/*.egg-info/
/gva_cli/__pycache__/
/gva_cli/FileTraversal/index.db
/gva_cli/FileTraversal/db_exe
/gva_cli/FileTraversal/main.o
/gva_cli/FileTraversal/db.o
/gva_cli/FileTraversal/traverse.o
/gva_cli/FileTraversal/test.c
/gva_cli/FileTraversal/test
/gva_cli/index.db
/gva_cli/embeddings.db
/gva_cli/FileTraversal/io 


